@import "variaveis.css";

.buttons button{
    background: none;
    color: var(--text-color);
    font-size: 0.9rem;
    padding: 0.8rem 1rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.buttons #signUp {
    color: #fff;
    background-color: var(--main-color);
}