.buttons button{
    background: none;
    color: #667085;
    font-size: 0.9rem;
    padding: 0.8rem 1rem;    
    border-radius: 0.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.buttons #signUp {
    color: #fff;
    background-color: #8E2424;
}