.navActions{
    display: flex;
    gap: 12px;

}

.main-button {
    color: #667085;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    height: 44px;
    text-decoration: none;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 1px 2 #1018280D;
}

.main-button.-red{
    color: #fff;
    background-color: #8E2424;
    border: 1px;
    padding: 10px 18px;

}
